@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');

@mixin parallax-bg($img) {
    background: { 
        image: url($img);
        size: cover;
        //attachment: fixed;
        color: rgba(0,0,0,0.3);
        blend-mode: darken;
    }
}


body, h1 {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    //color: black;
    font-style: none;
    text-decoration: none;
}

.img{
    width: 100%;
    height: 100%;
}

header, section {
    overflow: hidden;
    position: relative;  
    width: 100%;
    height: 100vh;
}

.description {
    position: absolute;
    top: 25%;
    left: 25px;
    font-size: 1.5rem;
    color: white;
    width: 50%;

    h2 {
        font-style: italic;
        opacity: 0;
    }

    p {
        opacity: 0;
    }


}

header { 
    .img {
       @include parallax-bg('../src/header.JPG');    
    }
}

.animated-zoom {
    .img {
        animation: zoom 20s linear 0s forwards;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

//nav

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
   // @include parallax-bg('../src/header.JPG');
    ul {
        width: 75%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        font-size: 1.5rem;

        li {
            padding: 5px;
            border-radius: 20px 20px 20px 20px;
            background-color: none;
            //transition: background-color 0.1s linear;
            a {color: white;}
        }

        /*li:hover {
            background-color: rgba(192,192,192,0.5);
        }*/


    }

    h1 { 
        font-family: 'Lobster', sans-serif;
        font-size: 2.5rem;
    }
}

.sec-1 {
    .img {
        @include parallax-bg('../src/IMG_1160.jpg');
        background-position-y: -200px;
        background-position-x: 200px;
    }

    td:not(.nbEnfant):after {
        content: " $";
    }
}

.sec-2 {
    .img {
        @include parallax-bg('../src/IMG_1164.jpg');
    }

    
}


//text animation
@keyframes textAnimation {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.animated {
    h2 {
      animation: textAnimation 0.5s linear 0s forwards;        
    }

    p, table, div {
      animation: textAnimation 0.5s linear 0s forwards;        
    }
}

//table css

table {
    thead th{
        font-style: italic;
    }

    tbody tr td {
        padding: 0 30px;
        text-align: center;
        font-size: 1.7rem;
    }
}

//map 

#map {
    height: 100%;
    width: 100%;
}

